body{
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
.wrap input[type=checkbox]{
  display:none;
}
.wrap label em{
  /* border: 1px solid red; */
  width: 18px;
  height: 18px;
  display:inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background:url(/img/checkbox-01.png) no-repeat;
  background-position:left center;
}
.wrap input[type=checkbox]:checked + label em{
  background-position:right center;
}
.grade input[type=radio]{
  display:none;
}
.grade label {
  cursor: pointer;
}
.grade label em{
  /* border: 1px solid red; */
  display:inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right:5px;
  background:url(/img/radio-01.png) no-repeat;
  background-position: left center;
}
.grade input[type=radio]:checked + label em{
  background-position: right center;
}
.grade input[type=radio]:checked + label {
  color:crimson;
}