body{
  background:url(/img/snow-photo.jpg) no-repeat center center fixed;
}
body:before{
  content:'';
  position:absolute;
  background-color: rgba(0, 0, 0, 0.657);
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index:-1;
  /* z-index 값을 -1로 줘서, form 요소보다 뒤에 위치할 수 있도록 설정 */
}
.search{
  /* border: 1px solid white; */
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.search h1{
  text-align: center;
  font-weight: normal;
  color:white;
}
.search input[type=text]{
  width: 300px;
  padding:15px;
  border: none;
  margin-right: -6px;
  border-radius: 40px 0 0 40px;
  outline:none;
  padding-left:30px;
  box-sizing: border-box;
}
.search input[type=submit]{
  width: 90px;
  padding:15px;
  border:none;
  border-radius: 0 40px 40px 0;
  cursor:pointer;
  background-color: orange;
  color:white;
  outline:none;
  box-sizing: border-box;
}
.search input[type=text]::placeholder{
  font-size: 20px;
  font-style: italic;
}
/* CSS3 부터 생긴 가상클래스는 :: 콜론을 두개 써줘야 함. */
/* input[type=text] [] 대괄호로 묶여있는 것을 속성선택자라고 함 */

.search input[type=submit]:hover{
  background-color: rgb(77, 65, 3);
}