@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color:#222;
    line-height: 1.5em;
    font-weight: 100;
    margin: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.gnb {
    list-style: none;
    padding: 50px 30px;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
    display: flex;
}
.gnb li{
    /* float: left;
    width: 120px;
    text-align: center; */
    flex:1;
    text-align: center;
}
.gnb li a{
    text-decoration: none;
    color: #222;
    font-size: 14px;
    position: relative;
}
.gnb li a:before{
    content:'';
    position: absolute;
    background-color: dodgerblue;
    height: 2px;
    width: 0;
    bottom:-10px;
    transition: 0.5s;
    /* right:0; */
    transform: translateX(-50%);
    left:50%
}
.gnb li a:hover:before{
    width: 100%;
}