@import url('https://fonts.googleapis.com/css? family=Noto+Sans+KR:300,400,500,700,900&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    color:#222;
    line-height: 1.5em;
}
a{
    color:#222;
    text-decoration: none;
}
.dropdown{
    border: 1px solid #000;
    width: 250px;
}
.dropdown-btn{
    width: inherit;
    padding: 10px;
    font-size: 20px;
    background-color: yellowgreen;
    color:#fff;
    border: none;
    outline:none;
    cursor:pointer;
}
.dropdown-submenu{
    display: none;
    width: inherit;
    box-shadow:0 0 10px black;
}
.dropdown-submenu a{
    display: block;
    padding: 7px;
    text-align: center;
}
.dropdown-submenu a:hover{
    background-color: #eee;
}
.dropdown:hover .dropdown-submenu{
    display: block;
}