@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  margin: 0;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
a{
  text-decoration: none;
}
/* background video */
.video-frame:before{
  content:'';
  background:linear-gradient(-135deg, crimson, transparent);
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.video-frame video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/* logo */
.logo{
  position:absolute;
  top:50px;
  left:100px;
}
/* Heading */
.heading{
  position:absolute;
  width: 700px;
  left: 100px;
  bottom: 100px;
  animation: showing1 2s linear;
  animation-delay:1s;
  animation-fill-mode:both;
}
.heading h1{
  font-size: 60px;
  margin: 0;
}
.heading h1 span{
  display:block;
  color:red;
}
.heading p{
  font-size: 1.2em;
  line-height: 1.5em;
}
.btn-book,
.btn-learn{
  background-color: white;
  color:#222;
  width: 150px;
  display:inline-block;
  text-align: center;
  padding: 7px;
  border-radius: 20px;
  margin-right: 5px;
  border: 2px solid white;
  transition:0.3s;
}
.btn-book{}
.btn-learn{
  background-color: transparent;
  color:white;
}
.btn-book:hover{
  background-color: black;
  color:white;
  border-color:black;
}
.btn-learn:hover{
  background-color: white;
  color:black;
}
/* anniver */
.anniver{
  position:absolute;
  right: 100px;
  bottom: 50px;
  color:black;
  text-align: center;
  animation:showing2 2s 3s linear;
  animation-fill-mode: both;
}
.anniver em{
  display: block;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: -20px;
}
.anniver span{
  font-family: 'Monoton';
  font-size: 150px;
}

/* trigger */
.trigger{
  /* border: 1px solid red; */
  width: 40px;
  height: 20px;
  position:absolute;
  right: 50px;
  top:50px;
  cursor: pointer;
  z-index: 100;
}
.trigger span{
  position:absolute;
  width: 100%;
  height: 1px;
  background-color: gray;
  transition:0.3s;
}
.trigger span:nth-child(1){
  top:0;
}
.trigger span:nth-child(2){
  top:50%;
  width: 80%;
}
.trigger span:nth-child(3){
  top:100%;
}
.trigger.active span{
  background-color: white;
}
.trigger.active span:nth-child(1){
  top:50%;
  transform:rotate(45deg);
}
.trigger.active span:nth-child(2){
  opacity:0;
}
.trigger.active span:nth-child(3){
  top:50%;
  transform:rotate(-45deg);
}

/* modal-gnb */
.modal-gnb{
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.897);
  height: 100vh;
  width: 100%;
  display:none;
}
.gnb{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.gnb a{
  color:white;
  font-size: 60px;
  display:block;
  padding: 10px;
  font-family: 'Raleway',sans-serif;
  transition:0.3s;
  animation:gnb 0.5s linear;
  animation-fill-mode:both;
  opacity:0;
}
.gnb a:hover{
  color:red;
}
.gnb a:nth-child(1){
  animation-delay:0.5s;
}
.gnb a:nth-child(2){
  animation-delay:0.7s;
}
.gnb a:nth-child(3){
  animation-delay:0.9s;
}
.gnb a:nth-child(4){
  animation-delay:1.2s;
}
.gnb a:nth-child(5){
  animation-delay:1.4s;
}

@keyframes showing1{
  0%{
    opacity:0;
    margin-left: -100px;
  }
  100%{
    opacity:1;
    margin-left: 0;
  }
}
@keyframes showing2{
  0%{
    opacity:0;
    margin-right: -100px;
  }
  100%{
    opacity:1;
    margin-right: 0;
  }
}
@keyframes gnb{
  0%{
    opacity:0;
    transform:translateX(-50px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}