body{
  background-color: #eee;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.testimonial-section{
  width: 800px;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
.testimonial-section h1{
  font-size: 25px;
  margin-bottom: 30px;
}
.testimonial-section h1 span{
  color:red;
}
.testimonial-pic img{
  width: 100px;
  height: 110px;
  filter:grayscale(1);
  margin: 5px;
  transition:0.3s;
  cursor: pointer;
}
.testimonial-pic img.active{
  border-radius: 50%;
  filter:grayscale(0);
  /* filter:none; 도 가능 */
}
.testimonial .content{
  display:none;
}
.testimonial .content.active{
  display: block;
}
.testimonial .content p:nth-child(2){
  font-weight: bold;
}
