@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0;
    background-color: #fff;
}

.skill-progress{
    width: 500px;
    padding:20px;
    background-color: #333;
    border-radius: 10px;
    color:#fff;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.082);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.skill-progress h1{
    text-align: center;
}
.item{
}
.item p{
    /* border: 1px solid white; */
    overflow: hidden;
    margin-bottom:5px;
}
.item p span:nth-child(1){
    float:left;
}
.item p span:nth-child(2){
    float:right;
}
.progress{
    border: 1px solid #6cd4c4;
    padding:5px;
    border-radius:3px;
}
.progress-level{
    height: 10px;
    /* background: linear-gradient(방향, 시작색상, 종료색상); */
    background: linear-gradient(to right, crimson, gold);
    animation: ani;
    animation-duration: 1s;
}

@keyframes ani {
    0%{
        width:0;
    }

}