@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#222;
}
.tab-inner{
    width: 300px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
input[name=tabmenu]{
    display:none;
}
.content{
    position: absolute;
    top:0;
    left:-50px;
    opacity:0;
    visibility: hidden;
    transition: 0.5s;
}
.btn{
    position: absolute;
    /* bottom:0;
    left:50%;
    transform:translateX(-50%); */
    width: 100%;
    text-align: center;
    bottom:10px;
}
.btn label{
    width: 20px;
    height: 20px;
    display:inline-block;
    background-color: lightgray;
    border-radius:50%;
    cursor: pointer;
    transition: 0.3s;
}
input[id=tab1]:checked ~ .slide1{
    opacity:1;
    visibility: visible;
    left:0;
}
input[id=tab2]:checked ~ .slide2{
    opacity:1;
    visibility: visible;
    left:0;
}
input[id=tab3]:checked ~ .slide3{
    opacity:1;
    visibility: visible;
    left:0;
}
input[id=tab1]:checked ~.btn label[for=tab1]{
    background-color: red;
}
input[id=tab2]:checked ~.btn label[for=tab2]{
    background-color: red;
}
input[id=tab3]:checked ~.btn label[for=tab3]{
    background-color: red;
}
.text1, .text2, .text3 {
    position: absolute;
    top:20px;
    left:20px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    color:#fff;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
    box-sizing: border-box;
    transform:translateY(-50px);
    opacity:0;
    transition:0.5s;
}
.text1 span, .text2 span, .text3 span{
    font-size: 20px;
    display:block;
    margin-top:5px;
}
.text2 {
    background-color: dodgerblue;
}
.text3 {
    background-color: yellowgreen;
}
input[id=tab1]:checked ~ .heading .text1{
    transform: translateY(0);
    opacity: 1;
    transition-delay:0.5s;
}
input[id=tab2]:checked ~ .heading .text2{
    transform: translateY(0);
    opacity: 1;
    transition-delay:0.5s;
}
input[id=tab3]:checked ~ .heading .text3{
    transform: translateY(0);
    opacity: 1;
    transition-delay:0.5s;
}